* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  background-color: #DDD;
  color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.login-box {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  width: 600px;
  height: 400px;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.left {
  padding: 40px;
  width: 300px;
  height: 400px;
  position: absolute;
}
.right {
  right: 0;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
  padding: 40px;
  width: 300px;
  height: 400px;
  float: right;
}
h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 2em;
}
input {
    display: block;
    border-bottom: 1px solid #AAA;
    margin-bottom: 20px;
    padding: 4px;
    height: 32px;
    width: 220px;
    font-weight: 400;
}
.left button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 220px;
  height: 32px;
  border-radius: 2px;
  background-color: #16A085;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
}
.left button:hover {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  transition-property: 0.1s ease;
}
.left button:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.right button {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border-radius: 2px;

}

input:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}
.right span {
  display: block;
  margin-bottom: 40px;
  font-size: 2em;
  color: #FFF;
  text-align: center;
}
.social-signin-Facebook {
  color: #FFF;
  background-color: #32508E;
}
.social-signin-Twitter {
  color: #FFF;
  background-color: #55ACEE;
}
.social-signin-Google {
  color: #FFF;
  background-color: #DD4B39;
}
.or {
  position: absolute;
  margin-top: 180px;
  margin-left: 280px;
  width: 40px;
  height: 40px;
  background-color: #DDD;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
